Repository christmas-tree-map/christmas-tree-map, pull requests merged in 2024-12, with the labels that each got.

#12 [FE] 메인 트리 지도 구현
  frontend/.gitignore
  frontend/.prettierrc
  frontend/index.html
  frontend/src/App.tsx
  frontend/src/apis/feed.ts
  frontend/src/assets/tree.png
  frontend/src/components/Feed/FeedItem/FeedItem.css.ts
  frontend/src/components/Feed/FeedItem/FeedItem.stories.tsx
  frontend/src/components/Feed/FeedList/FeedList.stories.tsx
  frontend/src/components/Feed/FeedList/FeedList.tsx
  frontend/src/components/Feed/FeedSubmit/FeedSubmit.css.ts
  frontend/src/components/Feed/FeedSubmit/FeedSubmit.tsx
  frontend/src/components/Header/Header.css.ts
  frontend/src/components/Header/Header.stories.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/components/NavBar/NavBar.css.ts
  frontend/src/components/NavBar/NavBar.stories.tsx
  frontend/src/components/_common/FloatingButton/FloatingButton.stories.tsx
  frontend/src/components/_common/Modal/Modal.css.ts
  frontend/src/components/_common/Modal/Modal.stories.tsx
  frontend/src/components/_common/Modal/Modal.tsx
  frontend/src/components/_common/TextArea/TextArea.css.ts
  frontend/src/components/_common/TextArea/TextArea.stories.tsx
  frontend/src/hooks/TreeMap/useTreeMap.ts
  frontend/src/hooks/_common/useModal.ts
  frontend/src/main.tsx
  frontend/src/mocks/browser.ts
  frontend/src/mocks/handlers.ts
  frontend/src/mocks/node.ts
  frontend/src/pages/Layout/Layout.tsx
  frontend/src/pages/TreeMap/TreeMap.css.ts
  frontend/src/pages/TreeMap/TreeMap.tsx
  frontend/src/styles/reset.css.ts
  frontend/src/types/map.d.ts
Labels: feature, 🎄 frontend

#13 [FE] 에러 핸들링 구현
  frontend/src/App.tsx
  frontend/src/apis/feed.ts
  frontend/src/apis/requestAPI.ts
  frontend/src/components/Feed/FeedList/FeedList.tsx
  frontend/src/components/Feed/FeedSubmit/FeedSubmit.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/pages/Error/Error.tsx
Labels: feature, 🎄 frontend

#21 [FE] Button 컴포넌트 구현
  frontend/src/components/Feed/FeedSubmit/FeedSubmit.tsx
  frontend/src/components/_common/Button/Button.css.ts
  frontend/src/components/_common/Button/Button.stories.tsx
  frontend/src/components/_common/Button/Button.tsx
Labels: feature, 🎄 frontend

#22 [FE] React Query 도입
  frontend/package.json
  frontend/src/apis/feed.ts
  frontend/src/apis/requestAPI.ts
  frontend/src/components/Feed/FeedList/FeedList.tsx
  frontend/src/components/Feed/FeedSubmit/FeedSubmit.tsx
  frontend/src/main.tsx
  frontend/src/queries/Feed/useFeedMutation.ts
  frontend/src/queries/Feed/useFeedsQuery.ts
  frontend/src/queries/queryKeys.ts
  frontend/yarn.lock
Labels: feature, 🎄 frontend

#27 [FE] FloatingButton 구현
  frontend/src/App.tsx
  frontend/src/assets/edit.svg
  frontend/src/components/Feed/FeedList/FeedList.tsx
  frontend/src/components/_common/FloatingButton/FloatingButton.css.ts
  frontend/src/components/_common/FloatingButton/FloatingButton.stories.tsx
  frontend/src/components/_common/FloatingButton/FloatingButton.tsx
  frontend/src/pages/TreeMap/TreeMap.tsx
Labels: feature, refactor, 🎄 frontend

#31 [FE] Input 구현
  frontend/src/components/Feed/FeedSubmit/FeedSubmit.tsx
  frontend/src/components/_common/Input/Input.css.ts
  frontend/src/components/_common/Input/Input.stories.tsx
  frontend/src/components/_common/Input/Input.tsx
Labels: feature, 🎄 frontend

#30 [FE] Header, NavBar 구현
  frontend/package.json
  frontend/src/components/Header/Header.css.ts
  frontend/src/components/Header/Header.tsx
  frontend/src/components/NavBar/NavBar.css.ts
  frontend/src/components/NavBar/NavBar.tsx
  frontend/src/components/_common/FloatingButton/FloatingButton.css.ts
  frontend/src/components/_common/Header/Header.css.ts
  frontend/src/components/_common/Header/Header.stories.tsx
  frontend/src/components/_common/Header/Header.tsx
  frontend/src/components/_common/NavBar/NavBar.css.ts
  frontend/src/components/_common/NavBar/NavBar.stories.tsx
  frontend/src/components/_common/NavBar/NavBar.tsx
  frontend/src/pages/Layout/Layout.tsx
  frontend/src/pages/TreeMap/TreeMap.tsx
  frontend/yarn.lock
Labels: feature, 🎄 frontend

#29 [BE] 피드 CRUD 구현
  backend/build.gradle
  backend/src/main/java/com/christmas/common/application/TimestampEntity.java
  backend/src/main/java/com/christmas/common/config/S3Config.java
  backend/src/main/java/com/christmas/feed/controller/FeedController.java
  backend/src/main/java/com/christmas/feed/controller/FeedControllerDocs.java
  backend/src/main/java/com/christmas/feed/domain/NicknameGenerator.java
  backend/src/main/java/com/christmas/feed/domain/NicknamePrefix.java
  backend/src/main/java/com/christmas/feed/domain/NicknameSuffix.java
  backend/src/main/java/com/christmas/feed/dto/ContentUpdateRequest.java
  backend/src/main/java/com/christmas/feed/dto/FeedCreateRequest.java
  backend/src/main/java/com/christmas/feed/dto/FeedDeleteRequest.java
  backend/src/main/java/com/christmas/feed/dto/FeedGetResponse.java
  backend/src/main/java/com/christmas/feed/exception/InvalidPasswordException.java
  backend/src/main/java/com/christmas/feed/exception/NotFoundImageException.java
  backend/src/main/java/com/christmas/feed/exception/NotFoundS3ImageException.java
  backend/src/main/java/com/christmas/feed/exception/S3Exception.java
  backend/src/main/java/com/christmas/feed/exception/code/FeedErrorCode.java
  backend/src/main/java/com/christmas/feed/repository/FeedImageFileRepository.java
  backend/src/main/java/com/christmas/feed/repository/FeedRepository.java
  backend/src/main/java/com/christmas/feed/repository/ImageFileRepository.java
  backend/src/main/java/com/christmas/feed/repository/entity/FeedEntity.java
  backend/src/main/java/com/christmas/feed/repository/entity/FeedImageFileEntity.java
  backend/src/main/java/com/christmas/feed/repository/entity/ImageFileEntity.java
  backend/src/main/java/com/christmas/feed/service/FeedService.java
  backend/src/main/java/com/christmas/feed/service/ImageFileService.java
  backend/src/main/java/com/christmas/feed/service/S3ImageManager.java
  backend/src/main/java/com/christmas/tree/controller/TreeControllerDocs.java
  backend/src/main/java/com/christmas/tree/exception/NotFoundTreeException.java
  backend/src/main/java/com/christmas/tree/exception/code/TreeErrorCode.java
  backend/src/test/java/com/christmas/config/S3MockConfig.java
  backend/src/test/java/com/christmas/feed/domain/NicknameGeneratorTest.java
  backend/src/test/java/com/christmas/feed/service/S3ImageManagerTest.java
Labels: feature, 🎅🏻 backend

#35 [FE] 비동기 에러 처리 구현
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/apis/apiError.ts
  frontend/src/apis/requestAPI.ts
  frontend/src/components/_common/Modal/Modal.tsx
  frontend/src/constants/error.ts
  frontend/src/hooks/_common/useDisplayedError.ts
  frontend/src/main.tsx
  frontend/src/pages/Error/Error.tsx
  frontend/src/pages/Error/ErrorBoundary/GlobalErrorBoundary.tsx
  frontend/src/pages/Error/ErrorBoundary/ModalErrorBoundary.tsx
  frontend/src/pages/Error/GlobalErrorFallback/GlobalErrorFallback.css.ts
  frontend/src/pages/Error/GlobalErrorFallback/GlobalErrorFallback.stories.tsx
  frontend/src/pages/Error/GlobalErrorFallback/GlobalErrorFallback.tsx
  frontend/src/pages/Error/ModalErrorFallback/ModalErrorFallback.css.ts
  frontend/src/pages/Error/ModalErrorFallback/ModalErrorFallback.stories.tsx
  frontend/src/pages/Error/ModalErrorFallback/ModalErrorFallback.tsx
  frontend/src/queries/Feed/useFeedsQuery.ts
  frontend/src/styles/theme.css.ts
  frontend/src/utils/displayErrorMessage.ts
  frontend/yarn.lock
Labels: feature, 🎄 frontend

#36 [FE] Textarea 리팩터링
  frontend/src/components/_common/Input/Input.css.ts
  frontend/src/components/_common/Input/Input.tsx
  frontend/src/components/_common/TextArea/TextArea.css.ts
  frontend/src/components/_common/TextArea/TextArea.stories.tsx
  frontend/src/components/_common/TextArea/TextArea.tsx
  frontend/src/components/_common/TextArea/TextArea.type.ts
  frontend/src/hooks/_common/useAutoResize.ts
Labels: feature, 🎄 frontend

#42 [FE] 마커 지정 페이지 구현
  frontend/src/App.tsx
  frontend/src/apis/feed.ts
  frontend/src/apis/requestAPI.ts
  frontend/src/apis/tree.ts
  frontend/src/assets/map.png
  frontend/src/assets/markerSelector.png
  frontend/src/assets/react.svg
  frontend/src/assets/santaWithWindow.png
  frontend/src/components/Feed/FeedItem/FeedItem.css.ts
  frontend/src/components/Feed/FeedItem/FeedItem.stories.tsx
  frontend/src/components/Feed/FeedItem/FeedItem.tsx
  frontend/src/components/Feed/FeedItem/FeedItem.type.ts
  frontend/src/components/Feed/FeedList/FeedList.tsx
  frontend/src/components/Feed/FeedSubmit/FeedSubmit.css.ts
  frontend/src/components/Feed/FeedSubmit/FeedSubmit.tsx
  frontend/src/components/_common/Modal/Modal.css.ts
  frontend/src/components/_common/NavBar/NavBar.tsx
  frontend/src/constants/map.ts
  frontend/src/contexts/LayoutVisibilityContext.tsx
  frontend/src/hooks/Feed/useFeedSubmit.ts
  frontend/src/hooks/Feed/useImageUploader.ts
  frontend/src/hooks/TreeMap/useMapEventHandler.ts
  frontend/src/hooks/TreeMap/useTreeMap.ts
  frontend/src/hooks/_common/useHideNavBar.ts
  frontend/src/main.tsx
  frontend/src/mocks/feeds.json
  frontend/src/mocks/handlers.ts
  frontend/src/mocks/trees.json
  frontend/src/pages/MapMarkerSelector/MapMarkerSelector.css.ts
  frontend/src/pages/MapMarkerSelector/MapMarkerSelector.tsx
  frontend/src/pages/TreeMap/TreeMap.tsx
  frontend/src/queries/Feed/useFeedMutation.ts
  frontend/src/queries/Feed/useFeedsQuery.ts
  frontend/src/queries/Tree/useTreeMutation.ts
  frontend/src/queries/Tree/useTreesQuery.ts
  frontend/src/queries/queryKeys.ts
  frontend/src/styles/theme.css.ts
Labels: feature, 🎄 frontend

#46 [FE] 빌드 에러 해결
  frontend/netlify.toml
  frontend/src/pages/Landing/Landing.tsx
Labels: hotfix, 🎄 frontend

#51 [FE] 이슈 & PR 템플릿 생성
  .github/ISSUE_TEMPLATE/-fe--이슈-템플릿.md
  .github/pull_request_template.md
Labels: feature, 🎄 frontend

#53 [FE] chromatic 설치 Issue #52
  frontend/.storybook/preview.tsx
  frontend/package.json
  frontend/src/components/Feed/FeedList/FeedList.stories.tsx
  frontend/src/components/_common/NavBar/NavBar.stories.tsx
  frontend/yarn.lock
Labels: 🎄 frontend, test

#54 [FE] CI 설정 및 최적화 Issue #49
  .github/workflows/frontend_dev_ci.yml
Labels: feature, 🎄 frontend, test

#55 [FE] 랜딩 페이지 구현 Issue #34
  frontend/src/App.tsx
  frontend/src/assets/garland.svg
  frontend/src/assets/snowman.svg
  frontend/src/components/Landing/SnowAnimation/SnowAnimation.css.ts
  frontend/src/components/Landing/SnowAnimation/SnowAnimation.tsx
  frontend/src/components/_common/Button/Button.css.ts
  frontend/src/components/_common/Button/Button.stories.tsx
  frontend/src/components/_common/Button/Button.tsx
  frontend/src/components/_common/FloatingButton/FloatingButton.css.ts
  frontend/src/components/_common/Header/Header.css.ts
  frontend/src/components/_common/Modal/Modal.css.ts
  frontend/src/components/_common/NavBar/NavBar.css.ts
  frontend/src/pages/Landing/Landing.css.ts
  frontend/src/pages/Landing/Landing.tsx
  frontend/src/pages/MapMarkerSelector/MapMarkerSelector.css.ts
  frontend/src/pages/TreeMap/TreeMap.css.ts
  frontend/src/pages/TreeMap/TreeMap.tsx
  frontend/src/styles/reset.css.ts
  frontend/src/styles/theme.css.ts
Labels: feature, 🎄 frontend

#57 [BE] api 수정 & 테스트 추가 & application 프로파일 분리 Issue #40
  backend/build.gradle
  backend/src/main/java/com/christmas/common/config/MultipartJackson2HttpMessageConverter.java
  backend/src/main/java/com/christmas/common/config/S3Config.java
  backend/src/main/java/com/christmas/common/config/S3MockConfig.java
  backend/src/main/java/com/christmas/feed/controller/FeedController.java
  backend/src/main/java/com/christmas/feed/controller/FeedControllerDocs.java
  backend/src/main/java/com/christmas/feed/dto/ContentUpdateRequest.java
  backend/src/main/java/com/christmas/feed/dto/FeedGetResponse.java
  backend/src/main/java/com/christmas/feed/dto/FeedUpdateResponse.java
  backend/src/main/java/com/christmas/feed/repository/entity/FeedEntity.java
  backend/src/main/java/com/christmas/feed/repository/entity/ImageFileEntity.java
  backend/src/main/java/com/christmas/feed/service/FeedService.java
  backend/src/main/java/com/christmas/feed/service/ImageFileService.java
  backend/src/main/java/com/christmas/tree/repository/TreeEntity.java
  backend/src/main/resources/application-local.yml
  backend/src/main/resources/application-prod.yml
  backend/src/main/resources/application.yml
  backend/src/test/java/com/christmas/acceptance/TreeAcceptanceTest.java
  backend/src/test/java/com/christmas/config/S3MockConfig.java
  backend/src/test/java/com/christmas/feed/service/FeedServiceTest.java
  backend/src/test/java/com/christmas/feed/service/ImageFileServiceTest.java
  backend/src/test/java/com/christmas/feed/service/S3ImageManagerTest.java
  backend/src/test/resources/application.yml
Labels: feature, refactor, 🎅🏻 backend, test

#58 [BE] CI/CD 스크립트 작성 Issue #56
  .github/workflows/be-prod-ci_cd.yml
  .github/workflows/be-test.yml
  backend/build.gradle
  backend/docker/Dockerfile
  backend/docker/docker-compose.yml
  backend/src/main/java/com/christmas/common/application/CommonController.java
  backend/src/main/java/com/christmas/tree/repository/TreeRepository.java
  backend/src/main/resources/application-local.yml
  backend/src/main/resources/application-prod.yml
Labels: 🎅🏻 backend, infra

#62 [BE] api void 응답 모두 바디로 대체 Issue #61
  backend/src/main/java/com/christmas/feed/controller/FeedController.java
  backend/src/main/java/com/christmas/feed/controller/FeedControllerDocs.java
  backend/src/main/java/com/christmas/feed/dto/FeedUpdateResponse.java
  backend/src/main/java/com/christmas/feed/exception/NegativeValueException.java
  backend/src/main/java/com/christmas/feed/exception/code/FeedErrorCode.java
  backend/src/main/java/com/christmas/feed/repository/entity/FeedEntity.java
  backend/src/main/java/com/christmas/feed/service/FeedService.java
Labels: refactor, 🎅🏻 backend

#63 [BE] 문서화 응답 스키마 수정 Issue #61
  backend/src/main/java/com/christmas/feed/controller/FeedControllerDocs.java
Labels: 🎅🏻 backend

#64 [FE] 버그 수정 Issue #59
  frontend/.storybook/preview.tsx
  frontend/index.html
  frontend/src/App.tsx
  frontend/src/apis/feed.ts
  frontend/src/assets/santaWithWindow.png
  frontend/src/components/Feed/FeedList/FeedList.stories.tsx
  frontend/src/components/Feed/FeedList/FeedList.tsx
  frontend/src/components/Feed/FeedSubmit/FeedSubmit.css.ts
  frontend/src/components/Feed/FeedSubmit/FeedSubmit.tsx
  frontend/src/components/_common/Modal/Modal.css.ts
  frontend/src/components/_common/Modal/Modal.tsx
  frontend/src/components/_common/TextArea/TextArea.css.ts
  frontend/src/hooks/Feed/useFeedSubmit.ts
  frontend/src/hooks/TreeMap/useTreeMap.ts
  frontend/src/hooks/_common/useEscapeKey.ts
  frontend/src/hooks/_common/useModalAnimation.ts
  frontend/src/mocks/handlers.ts
  frontend/src/pages/MapMarkerSelector/MapMarkerSelector.css.ts
  frontend/src/pages/MapMarkerSelector/MapMarkerSelector.tsx
  frontend/src/pages/TreeMap/TreeMap.tsx
  frontend/src/queries/Feed/useFeedMutation.ts
Labels: bug, 🎄 frontend

#65 [FE] 좋아요 공통 컴포넌트 구현 Issue #26
  frontend/.storybook/main.ts
  frontend/src/apis/feed.ts
  frontend/src/components/Feed/FeedItem/FeedItem.stories.tsx
  frontend/src/components/Feed/FeedItem/FeedItem.tsx
  frontend/src/components/Feed/FeedItem/FeedItem.type.ts
  frontend/src/components/Feed/FeedList/FeedList.tsx
  frontend/src/components/_common/HeartWithCount/HeartWithCount.css.ts
  frontend/src/components/_common/HeartWithCount/HeartWithCount.tsx
  frontend/src/components/_common/Modal/Modal.stories.tsx
  frontend/src/hooks/TreeMap/useTreeMap.ts
  frontend/src/main.tsx
  frontend/src/mocks/feeds.json
  frontend/src/mocks/handlers.ts
  frontend/src/queries/Feed/useFeedMutation.ts
  frontend/src/queries/Feed/useFeedsQuery.ts
  frontend/src/utils/manageLikedFeeds.ts
Labels: feature, 🎄 frontend

#66 [FE] 전체 트리 리스트 불러오기 Issue #60
  frontend/src/hooks/TreeMap/useTreeMap.ts
  frontend/src/main.tsx
  frontend/src/mocks/browser.ts
  frontend/src/mocks/data/feeds.json
  frontend/src/mocks/data/trees.json
  frontend/src/mocks/handlers/feed.ts
  frontend/src/mocks/handlers/tree.ts
  frontend/src/mocks/node.ts
  frontend/src/mocks/trees.json
  frontend/src/pages/TreeMap/TreeMap.tsx
  frontend/src/queries/Tree/useTreesQuery.ts
Labels: feature, 🎄 frontend
