Repository christmas-tree-map/christmas-tree-map, pull requests merged in 2024-11, with the labels that each got.

#2 [FE] 프로젝트 기본 설정
  frontend/.gitignore
  frontend/.prettierrc
  frontend/.storybook/main.ts
  frontend/.storybook/preview.ts
  frontend/README.md
  frontend/eslint.config.js
  frontend/index.html
  frontend/package.json
  frontend/public/mockServiceWorker.js
  frontend/public/vite.svg
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/assets/react.svg
  frontend/src/components/Component.css.ts
  frontend/src/components/Component.stories.ts
  frontend/src/components/Component.tsx
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/mocks/browser.ts
  frontend/src/mocks/handlers.ts
  frontend/src/mocks/node.ts
  frontend/src/vite-env.d.ts
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
  frontend/yarn.lock
Labels: feature, 🎄 frontend

#5 [BE] 스프링부트 세팅
  .gitignore
  backend/build.gradle
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/gradlew.bat
  backend/settings.gradle
  backend/src/main/java/com/christmas/ChristmasApplication.java
  backend/src/main/java/com/christmas/common/CommonController.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/christmas/ChristmasApplicationTests.java
Labels: feature, 🎅🏻 backend

#9 [FE] 메인 피드 구현
  frontend/.storybook/main.ts
  frontend/.storybook/preview.ts
  frontend/index.html
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/apis/feed.ts
  frontend/src/components/Component.stories.ts
  frontend/src/components/Component.tsx
  frontend/src/components/Feed/FeedItem/FeedItem.css.ts
  frontend/src/components/Feed/FeedItem/FeedItem.stories.tsx
  frontend/src/components/Feed/FeedItem/FeedItem.tsx
  frontend/src/components/Feed/FeedItem/FeedItem.type.ts
  frontend/src/components/Feed/FeedList/FeedList.css.ts
  frontend/src/components/Feed/FeedList/FeedList.stories.tsx
  frontend/src/components/Feed/FeedList/FeedList.tsx
  frontend/src/components/Feed/FeedSubmit/FeedSubmit.css.ts
  frontend/src/components/Feed/FeedSubmit/FeedSubmit.tsx
  frontend/src/components/Header/Header.css.ts
  frontend/src/components/Header/Header.stories.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/components/NavBar/NavBar.css.ts
  frontend/src/components/NavBar/NavBar.stories.tsx
  frontend/src/components/NavBar/NavBar.tsx
  frontend/src/components/_common/FloatingButton/FloatingButton.css.ts
  frontend/src/components/_common/FloatingButton/FloatingButton.stories.tsx
  frontend/src/components/_common/FloatingButton/FloatingButton.tsx
  frontend/src/components/_common/Modal/Modal.css.ts
  frontend/src/components/_common/Modal/Modal.stories.tsx
  frontend/src/components/_common/Modal/Modal.tsx
  frontend/src/components/_common/TextArea/TextArea.css.ts
  frontend/src/components/_common/TextArea/TextArea.stories.tsx
  frontend/src/components/_common/TextArea/TextArea.tsx
  frontend/src/components/_common/TextArea/TextArea.type.ts
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/mocks/feeds.json
  frontend/src/mocks/handlers.ts
  frontend/src/pages/Landing/Landing.tsx
  frontend/src/styles/global.css.ts
  frontend/src/styles/layers.css.ts
  frontend/src/styles/reset.css.ts
  frontend/src/styles/theme.css.ts
Labels: feature, design, 🎄 frontend

#11 [BE] 트리 생성 및 조회 api 구현
  backend/build.gradle
  backend/src/main/java/com/christmas/common/application/CommonController.java
  backend/src/main/java/com/christmas/common/application/TimestampEntity.java
  backend/src/main/java/com/christmas/common/config/SwaggerConfig.java
  backend/src/main/java/com/christmas/common/exception/CommonErrorCode.java
  backend/src/main/java/com/christmas/common/exception/CommonExceptionHandler.java
  backend/src/main/java/com/christmas/common/exception/CustomErrorCode.java
  backend/src/main/java/com/christmas/common/exception/CustomException.java
  backend/src/main/java/com/christmas/common/exception/ExceptionResponse.java
  backend/src/main/java/com/christmas/tree/controller/TreeController.java
  backend/src/main/java/com/christmas/tree/controller/TreeControllerDocs.java
  backend/src/main/java/com/christmas/tree/domain/PointGenerator.java
  backend/src/main/java/com/christmas/tree/dto/TreeCreateRequest.java
  backend/src/main/java/com/christmas/tree/dto/TreeGetRequest.java
  backend/src/main/java/com/christmas/tree/dto/TreeGetResponse.java
  backend/src/main/java/com/christmas/tree/exception/PointOutOfRangeException.java
  backend/src/main/java/com/christmas/tree/exception/code/TreeErrorCode.java
  backend/src/main/java/com/christmas/tree/repository/TreeEntity.java
  backend/src/main/java/com/christmas/tree/repository/TreeRepository.java
  backend/src/main/java/com/christmas/tree/service/TreeService.java
  backend/src/test/java/com/christmas/acceptance/AcceptanceFixture.java
  backend/src/test/java/com/christmas/acceptance/TreeAcceptanceTest.java
  backend/src/test/java/com/christmas/tree/domain/PointGeneratorTest.java
  backend/src/test/java/com/christmas/tree/service/TreeServiceTest.java
Labels: feature, 🎅🏻 backend
