Repository christmas-tree-map/christmas-tree-map, pull requests merged in 2025-05, with the labels that each got.

#114 [FE] dev CI workflow를 FE/dev에서만 실행하도록 변경 및 main 브랜치 CI 추가 Issue #112
  .github/workflows/frontend_ci.yml
  .github/workflows/frontend_dev_ci.yml
Labels: 🎄 frontend, infra

#118 [FE] 개발 환경 배포 테스트 Issue #117
  .github/workflows/frontend_dev_ci.yml
Labels: 🎄 frontend, infra

#123 [FE] 정적 이미지가 렌더되지 않는 현상 해결 Issue #122
  frontend/src/assets/TREE_01.png
  frontend/src/components/Feed/FeedItem/FeedItem.css.ts
  frontend/src/components/Feed/FeedItem/FeedItem.tsx
  frontend/src/constants/feed.ts
  frontend/src/hooks/TreeMap/useTreeMap.ts
Labels: bug, design, 🎄 frontend

#125 [BE] 장소 추천 에러 해결 Issue #121
  .gitignore
  backend/src/main/java/com/christmas/common/config/WebMvcConfig.java
  backend/src/main/java/com/christmas/infrastructure/route/exception/JsonParseException.java
  backend/src/main/java/com/christmas/infrastructure/route/exception/code/DistanceErrorCode.java
  backend/src/main/java/com/christmas/infrastructure/route/service/RouteApiManager.java
Labels: hotfix, 🎅🏻 backend

#127 [FE] 프론트엔드 배포 🚀
  .github/workflows/frontend_ci.yml
  .github/workflows/frontend_dev_ci.yml
  frontend/index.html
  frontend/public/tree.png
  frontend/public/vite.svg
  frontend/src/assets/TREE_01.png
  frontend/src/components/Feed/FeedItem/FeedItem.css.ts
  frontend/src/components/Feed/FeedItem/FeedItem.tsx
  frontend/src/constants/feed.ts
  frontend/src/hooks/TreeMap/useTreeMap.ts
Labels: 🎄 frontend, release
