Repository christmas-tree-map/christmas-tree-map, pull requests merged in 2025-02, with the labels that each got.

#96 [FE] 상세 코스 지도 페이지 구현 Issue #85
  frontend/src/App.tsx
  frontend/src/apis/course.ts
  frontend/src/assets/course/courseMarker1.png
  frontend/src/assets/course/courseMarker2.png
  frontend/src/assets/course/courseMarker3.png
  frontend/src/assets/course/courseMarker4.png
  frontend/src/components/Course/CourseItem/CourseItem.stories.ts
  frontend/src/components/Course/CourseList/CourseList.stories.ts
  frontend/src/components/Course/CourseList/CourseList.tsx
  frontend/src/components/Course/CourseMap/CourseMap.css.ts
  frontend/src/components/Course/CourseMap/CourseMap.tsx
  frontend/src/components/Course/CourseTooltip/CourseTooltip.css.ts
  frontend/src/components/Course/CourseTooltip/CourseTooltip.stories.tsx
  frontend/src/components/Course/CourseTooltip/CourseTooltip.tsx
  frontend/src/components/_common/ScreenOverlay/ScreenOverlay.css.ts
  frontend/src/components/_common/ScreenOverlay/ScreenOverlay.tsx
  frontend/src/constants/course.ts
  frontend/src/constants/map.ts
  frontend/src/hooks/Course/useCourseMap.ts
  frontend/src/hooks/_common/usePreventScroll.ts
  frontend/src/mocks/data/courses.json
  frontend/src/pages/Course/Course.type.ts
  frontend/src/pages/Course/CourseDetail/CourseDetail.tsx
  frontend/src/queries/Course/useCourseDetailsQuery.ts
Labels: feature, 🎄 frontend

#97 [FE] 피드 제출 시 밸리데이션 Issue #90
  frontend/src/apis/feed.ts
  frontend/src/components/Feed/FeedList/FeedList.css.ts
  frontend/src/components/Feed/FeedSubmit/FeedSubmit.tsx
  frontend/src/components/_common/Modal/Modal.css.ts
  frontend/src/constants/feed.ts
  frontend/src/hooks/Feed/useFeedSubmit.ts
  frontend/src/hooks/TreeMap/useTreeMap.ts
  frontend/src/pages/Course/CourseMain/CourseMain.tsx
  frontend/src/pages/TreeMap/TreeMap.tsx
  frontend/src/utils/validate.ts
Labels: bug, feature, 🎄 frontend

#99 [FE] 상세 코스 지도 카드로 구현 Issue #98
  frontend/src/components/Course/CourseMap/CourseMap.tsx
  frontend/src/hooks/Course/useCourseMap.ts
  frontend/src/pages/Course/CourseDetail/CourseDetail.css.ts
  frontend/src/pages/Course/CourseDetail/CourseDetail.tsx
Labels: feature, 🎄 frontend

#100 [FE] 프론트엔드 배포 🚀
  frontend/src/App.tsx
  frontend/src/apis/course.ts
  frontend/src/apis/feed.ts
  frontend/src/assets/course/courseMarker1.png
  frontend/src/assets/course/courseMarker2.png
  frontend/src/assets/course/courseMarker3.png
  frontend/src/assets/course/courseMarker4.png
  frontend/src/components/Course/CourseItem/CourseItem.stories.ts
  frontend/src/components/Course/CourseList/CourseList.stories.ts
  frontend/src/components/Course/CourseList/CourseList.tsx
  frontend/src/components/Course/CourseMap/CourseMap.css.ts
  frontend/src/components/Course/CourseMap/CourseMap.tsx
  frontend/src/components/Course/CourseTooltip/CourseTooltip.css.ts
  frontend/src/components/Course/CourseTooltip/CourseTooltip.stories.tsx
  frontend/src/components/Course/CourseTooltip/CourseTooltip.tsx
  frontend/src/components/Feed/FeedList/FeedList.css.ts
  frontend/src/components/Feed/FeedSubmit/FeedSubmit.tsx
  frontend/src/components/_common/Modal/Modal.css.ts
  frontend/src/components/_common/ScreenOverlay/ScreenOverlay.css.ts
  frontend/src/components/_common/ScreenOverlay/ScreenOverlay.tsx
  frontend/src/constants/course.ts
  frontend/src/constants/feed.ts
  frontend/src/constants/map.ts
  frontend/src/hooks/Course/useCourseMap.ts
  frontend/src/hooks/Feed/useFeedSubmit.ts
  frontend/src/hooks/TreeMap/useTreeMap.ts
  frontend/src/hooks/_common/usePreventScroll.ts
  frontend/src/mocks/data/courses.json
  frontend/src/pages/Course/Course.type.ts
  frontend/src/pages/Course/CourseDetail/CourseDetail.css.ts
  frontend/src/pages/Course/CourseDetail/CourseDetail.tsx
  frontend/src/pages/Course/CourseMain/CourseMain.tsx
  frontend/src/pages/TreeMap/TreeMap.tsx
  frontend/src/queries/Course/useCourseDetailsQuery.ts
  frontend/src/utils/validate.ts
Labels: release

#102 [BE] 트리 GET 요청 시 현재 위치와 가까운 순서대로 정렬해서 반환 Issue #101
  backend/src/main/java/com/christmas/tree/repository/TreeRepository.java
  backend/src/main/java/com/christmas/tree/service/TreeService.java
  backend/src/test/java/com/christmas/tree/service/TreeServiceTest.java
Labels: feature, 🎅🏻 backend
