Repository christmas-tree-map/christmas-tree-map, pull requests merged in 2025-09, with the labels that each got.

#200 [BE] 피드 삭제 응답으로 트리 id 반환 #Issue 193
  backend/src/main/java/com/christmas/feed/dto/FeedDeleteResponse.java
  backend/src/main/java/com/christmas/feed/service/FeedService.java
Labels: 🎅🏻 backend

#213 [BE] 트리 응답으로 현재 위치에서 트리까지 거리 반환 #Issue 210
  backend/src/main/java/com/christmas/tree/dto/TreeGetResponse.java
  backend/src/main/java/com/christmas/tree/dto/TreeWithDistanceProjection.java
  backend/src/main/java/com/christmas/tree/repository/TreeRepository.java
  backend/src/main/java/com/christmas/tree/service/TreeService.java
Labels: feature, 🎅🏻 backend

#215 [FE] 신규 트리 생성 기준을 10m로 변경 #209
  frontend/src/apis/tree.ts
  frontend/src/hooks/Course/useCourseMap.ts
  frontend/src/hooks/Feed/useFeedSubmit.ts
  frontend/src/mocks/data/trees.json
Labels: feature, 🎄 frontend

#217 [FE] 피드 삭제 시 트리가 지도에 남아있는 현상 해결 #201
  frontend/src/hooks/TreeMap/useTreeMap.ts
  frontend/src/pages/TreeMap/TreeMap.tsx
  frontend/src/queries/Feed/useFeedMutation.ts
Labels: bug, 🎄 frontend
