Repository christmas-tree-map/christmas-tree-map, pull requests merged in 2025-01, with the labels that each got.

#75 [BE] 인프라 마이그레이션 CICD 테스트 Issue #74
  .github/workflows/be-prod-ci_cd.yml
  backend/src/main/resources/application-prod.yml
Labels: 🎅🏻 backend, infra

#76 [BE] CI CD 테스트 Issue #74
  .github/workflows/be-prod-ci_cd.yml
  backend/docker/Dockerfile
  backend/docker/docker-compose.yml
  backend/src/main/java/com/christmas/feed/service/S3ImageManager.java
Labels: 🎅🏻 backend, infra

#80 [BE] 서버 재시작 시 db 초기화 되는 문제 해결 Issue #79
  .github/workflows/be-prod-ci_cd.yml
  backend/src/main/java/com/christmas/common/application/CommonController.java
  backend/src/main/resources/application-prod.yml
Labels: 🎅🏻 backend, infra

#81 [FE] Input 컴포넌트 dropdown 추가 Issue #69
  frontend/src/components/Feed/FeedSubmit/FeedSubmit.tsx
  frontend/src/components/_common/Input/Input.css.ts
  frontend/src/components/_common/Input/Input.stories.tsx
  frontend/src/components/_common/Input/Input.tsx
  frontend/src/components/_common/InputComboBox/ComboBox/ComboBox.css.ts
  frontend/src/components/_common/InputComboBox/ComboBox/ComboBox.tsx
  frontend/src/components/_common/InputComboBox/InputComboBox.css.ts
  frontend/src/components/_common/InputComboBox/InputComboBox.stories.tsx
  frontend/src/components/_common/InputComboBox/InputComboBox.tsx
  frontend/src/hooks/_common/useClickOutside.ts
  frontend/src/hooks/_common/useComboBox.ts
  frontend/src/pages/TreeMap/TreeMap.tsx
Labels: feature, 🎄 frontend

#82 [FE] Header 텍스트 추가 Issue #72
  frontend/src/components/_common/Header/Header.css.ts
  frontend/src/components/_common/Header/Header.stories.tsx
  frontend/src/components/_common/Header/Header.tsx
  frontend/src/pages/Layout/Layout.tsx
Labels: design, 🎄 frontend

#83 [FE] 메인 코스 가볼 만한 곳 구현 Issue #71
  frontend/src/App.tsx
  frontend/src/apis/course.ts
  frontend/src/components/Course/CourseSearchedPlaceItem/CourseSearchedPlaceItem.css.ts
  frontend/src/components/Course/CourseSearchedPlaceItem/CourseSearchedPlaceItem.stories.tsx
  frontend/src/components/Course/CourseSearchedPlaceItem/CourseSearchedPlaceItem.tsx
  frontend/src/components/_common/InputComboBox/InputComboBox.tsx
  frontend/src/components/_common/NavBar/NavBar.css.ts
  frontend/src/components/_common/NavBar/NavBar.tsx
  frontend/src/main.tsx
  frontend/src/mocks/browser.ts
  frontend/src/mocks/data/attractions.json
  frontend/src/mocks/handlers/course.ts
  frontend/src/mocks/node.ts
  frontend/src/pages/Course/Course.css.ts
  frontend/src/pages/Course/Course.tsx
  frontend/src/pages/Course/Course.type.ts
  frontend/src/queries/Course/useAttractionsQuery.ts
  frontend/src/queries/queryKeys.ts
  frontend/src/utils/extractAddressPart.ts
Labels: feature, 🎄 frontend

#87 [FE] 검색어 자동완성 구현 #70
  frontend/src/components/_common/InputComboBox/ComboBox/ComboBox.tsx
  frontend/src/components/_common/InputComboBox/InputComboBox.stories.tsx
  frontend/src/components/_common/InputComboBox/InputComboBox.tsx
  frontend/src/hooks/TreeMap/useTreeMap.ts
  frontend/src/hooks/_common/useComboBox.ts
  frontend/src/hooks/_common/useDebounce.ts
  frontend/src/pages/Course/Course.type.ts
  frontend/src/pages/Course/CourseMain/CourseMain.tsx
Labels: feature, 🎄 frontend

#93 [BE] 코스 추천 시 보행자 경로 좌표 추가 Issue #91
  backend/src/main/java/com/christmas/infrastructure/route/dto/RouteInfo.java
  backend/src/main/java/com/christmas/infrastructure/route/service/RouteApiParser.java
  backend/src/main/java/com/christmas/recommend/dto/PedestrianRoute.java
  backend/src/main/java/com/christmas/recommend/service/RecommendService.java
Labels: feature, 🎅🏻 backend

#95 [BE] 추천 장소 결과가 Null일 경우, 경로 계산을 하지 않도록 예외 처리 Issue #92
  backend/src/main/java/com/christmas/infrastructure/route/domain/PointType.java
  backend/src/main/java/com/christmas/infrastructure/route/exception/NotFoundPointType.java
  backend/src/main/java/com/christmas/infrastructure/route/exception/code/DistanceErrorCode.java
  backend/src/main/java/com/christmas/infrastructure/route/service/RouteApiBody.java
  backend/src/main/java/com/christmas/recommend/service/RecommendService.java
Labels: bug, 🎅🏻 backend
