Repository christmas-tree-map/christmas-tree-map, pull requests merged in 2025-08, with the labels that each got.

#174 [FE] 지도 렌더링 최적화 Issue #169
  frontend/src/components/Feed/FeedEdit/FeedEdit.tsx
  frontend/src/components/Feed/FeedSubmit/FeedSubmit.tsx
  frontend/src/hooks/TreeMap/useMapAddress.ts
  frontend/src/hooks/TreeMap/usePlaceSearch.ts
  frontend/src/hooks/TreeMap/useTreeMap.ts
  frontend/src/main.tsx
  frontend/src/pages/Course/CourseMain/CourseMain.tsx
  frontend/src/pages/Landing/Landing.tsx
Labels: refactor, 🎄 frontend

#175 [FE] 프론트엔드 배포 🚀
  frontend/src/components/Feed/FeedEdit/FeedEdit.tsx
  frontend/src/components/Feed/FeedSubmit/FeedSubmit.tsx
  frontend/src/hooks/TreeMap/useMapAddress.ts
  frontend/src/hooks/TreeMap/usePlaceSearch.ts
  frontend/src/hooks/TreeMap/useTreeMap.ts
  frontend/src/main.tsx
  frontend/src/pages/Course/CourseMain/CourseMain.tsx
  frontend/src/pages/Landing/Landing.tsx
Labels: 🎄 frontend, release

#177 [FE] 로딩 UI 구현 Issue #170
  frontend/src/components/_common/Loading/Loading.css.ts
  frontend/src/components/_common/Loading/Loading.stories.tsx
  frontend/src/components/_common/Loading/Loading.tsx
  frontend/src/pages/Course/CourseDetail/CourseDetail.tsx
  frontend/src/pages/Course/CourseMain/CourseMain.tsx
  frontend/src/queries/Course/useAttractionsQuery.ts
Labels: feature, design, 🎄 frontend

#179 [FE] 코스 예외 처리 컴포넌트 구현 Issue #178
  frontend/src/components/_common/NavBar/NavBar.css.ts
  frontend/src/components/_common/NavBar/NavBar.tsx
  frontend/src/pages/Course/CourseDetail/CourseDetail.css.ts
  frontend/src/pages/Course/CourseDetail/CourseDetail.tsx
  frontend/src/pages/Course/CourseDetail/EmptyCourseDetail.css.ts
  frontend/src/pages/Course/CourseDetail/EmptyCourseDetail.tsx
Labels: feature, design, 🎄 frontend

#181 [BE] 코스 추천 예외 처리 Issue #172
  backend/src/main/java/com/christmas/infrastructure/config/RestClientConfig.java
  backend/src/main/java/com/christmas/infrastructure/image/ImageApiManager.java
  backend/src/main/java/com/christmas/infrastructure/route/service/RouteApiManager.java
  backend/src/main/java/com/christmas/infrastructure/search/service/SearchApiManager.java
  backend/src/main/java/com/christmas/recommend/domain/Course.java
  backend/src/main/java/com/christmas/recommend/service/CourseFactory.java
  backend/src/main/java/com/christmas/recommend/service/LocationService.java
  backend/src/main/java/com/christmas/recommend/service/RecommendService.java
Labels: bug, 🎅🏻 backend

#184 [BE] 볼거리 추천 기능에 도보 정보 추가 #Issue 183
  backend/src/main/java/com/christmas/recommend/domain/Course.java
  backend/src/main/java/com/christmas/recommend/domain/Location.java
  backend/src/main/java/com/christmas/recommend/dto/AttractionGetResponse.java
  backend/src/main/java/com/christmas/recommend/service/RecommendService.java
Labels: feature, 🎅🏻 backend

#190 [FE] 프론트엔드 배포 🚀
  README.md
  frontend/src/App.tsx
  frontend/src/components/_common/InputComboBox/InputComboBox.css.ts
  frontend/src/hooks/Course/useSaveCourse.ts
  frontend/src/hooks/Course/useSavedCourseMap.ts
  frontend/src/pages/Course/Course.type.ts
  frontend/src/pages/Course/CourseDetail/CourseDetail.css.ts
  frontend/src/pages/Course/CourseDetail/CourseDetail.tsx
  frontend/src/pages/Course/CourseMain/CourseMain.css.ts
  frontend/src/pages/Course/CourseMain/CourseMain.tsx
  frontend/src/pages/Course/SavedCourse/EmptySavedCourse.css.ts
  frontend/src/pages/Course/SavedCourse/EmptySavedCourse.tsx
  frontend/src/pages/Course/SavedCourse/SavedCourse.css.ts
  frontend/src/pages/Course/SavedCourse/SavedCourse.tsx
  frontend/src/queries/Course/useCourseDetailsQuery.ts
Labels: 🎄 frontend, release

#196 [BE] 타임스탬프 한국 시간대로 변경 #Issue 195
  backend/src/main/java/com/christmas/common/application/TimestampEntity.java
  backend/src/main/java/com/christmas/feed/dto/FeedGetResponse.java
  backend/src/main/java/com/christmas/feed/dto/FeedsGetResponse.java
  backend/src/main/java/com/christmas/feed/service/FeedService.java
  backend/src/main/resources/application-prod.yml
  backend/src/main/resources/application-test.yml
Labels: feature, 🎅🏻 backend
