Repository christmas-tree-map/christmas-tree-map, pull requests merged in 2025-06, with the labels that each got.

#140 [BE] 피드 비밀번호 검증 api 추가 및 피드 수정 api 변경 #Issue 139
  backend/src/main/java/com/christmas/feed/controller/FeedController.java
  backend/src/main/java/com/christmas/feed/dto/FeedUpdateRequest.java
  backend/src/main/java/com/christmas/feed/dto/FeedVerifyRequest.java
  backend/src/main/java/com/christmas/feed/service/FeedService.java
  backend/src/test/java/com/christmas/feed/service/FeedServiceTest.java
Labels: feature, 🎅🏻 backend

#142 [FE] 코스 오류 해결 Issue #141
  frontend/src/components/Course/CourseList/CourseList.tsx
  frontend/src/components/Course/CourseMap/CourseMap.tsx
  frontend/src/mocks/data/courses.json
  frontend/src/pages/Course/Course.type.ts
Labels: bug, 🎄 frontend

#157 [FE] 프론트엔드 배포 🚀
  frontend/src/apis/feed.ts
  frontend/src/apis/requestAPI.ts
  frontend/src/components/Feed/FeedEdit/FeedEdit.css.ts
  frontend/src/components/Feed/FeedEdit/FeedEdit.tsx
  frontend/src/components/Feed/FeedEdit/FeedEditGuard.tsx
  frontend/src/components/Feed/FeedItem/FeedItem.css.ts
  frontend/src/components/Feed/FeedItem/FeedItem.stories.tsx
  frontend/src/components/Feed/FeedItem/FeedItem.tsx
  frontend/src/components/Feed/FeedList/FeedList.tsx
  frontend/src/components/Feed/FeedPasswordVerification/FeedPasswordVerification.css.ts
  frontend/src/components/Feed/FeedPasswordVerification/FeedPasswordVerification.tsx
  frontend/src/components/Feed/FeedSubmit/FeedSubmit.tsx
  frontend/src/components/_common/RouteGuard/RouteGuard.tsx
  frontend/src/components/_common/Tooltip/Tooltip.css.ts
  frontend/src/components/_common/Tooltip/Tooltip.tsx
  frontend/src/components/_common/Tooltip/Tooltip.type.ts
  frontend/src/hooks/Feed/useFeedEdit.ts
  frontend/src/hooks/Feed/useImageUploader.ts
  frontend/src/hooks/TreeMap/useModalContent.tsx
  frontend/src/hooks/_common/useRedirect.ts
  frontend/src/mocks/handlers/feed.ts
  frontend/src/queries/Feed/useFeedMutation.ts
  frontend/src/queries/Feed/useFeedQuery.ts
  frontend/src/queries/queryKeys.ts
  frontend/src/types/feed.type.ts
Labels: 🎄 frontend, release
